a
{
    text-decoration: none;
}


.wrapper
{
    width: 100%;
    background-color: rgb(51, 51, 51);
}

header
{
    width: 1540px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(51, 51, 51);
}

header .index_title
{
    float: left;
    line-height: 50px;
    color: rgb(176, 176, 176);
}

header .login
{
    float: right;
}

header .login a
{
    line-height: 50px;
    color: rgb(176, 176, 176);
}

header .login a:hover
{
    color: white;
}

/* 设置轮播图样式 */
.images
{
    width: 1540px;
    background-color: thistle;
    margin: 0 auto;
}

.img-list
{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

.img-list li
{
    position: absolute;
}
    /* 通过修改元素的层级来显示指定的图片 */
.img-list li:nth-child(1)
{
    z-index: 1;
}

.pointer
{
    position: absolute;
    z-index: 9999;
    bottom: 10px;
    left: 8px;
}

    /* 设置导航点的样式 */
.pointer a
{
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    border-radius: 50%;
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid transparent;
}

.pointer a.active,
.pointer a:hover
{
    background-color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

/* -------------- */

.bill
{
    width: 1540px;
    background-color: skyblue;
    margin: 0 auto;
}

.courses
{
    background-color: rgba(105,101,101,.6);
    width: 290px;
}

.courses_wrapper
{
    position: relative;
}

.courses h2
{
    height: 83px;
    width: 270px;
    line-height: 83px;
    font-size: 24px;
    font-weight: unset;
    font-family: "微软雅黑";
    padding-left: 20px;
    color: white;
}

.courses ul li
{
    height: 83px;
    line-height: 83px;
}

.name_model
{
    height: 83px;
    width: 290px;
}

.courses_wrapper li:hover
{
    background-color: #ff6700;
}

.name_model div
{
    font-size: 20px;
    float: left;
    color: white;
    padding-left: 22px;
}

.name_model i
{
    font-size: 23px;
    font-weight: bold;
    float: right;
    padding-right: 16px;
    color: white;
}

.courses_wrapper ul li:hover .appendix
{
    visibility: visible;
}

.appendix
{
    background-color: rgb(252, 252, 215);
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0, 0, 0 ,.5);
    top: 0;
    left: 290px;
    width: 1250px;
    height: 1400px;
    z-index: 99;
    visibility: hidden;
}


