a
{
    text-decoration: none;
}

.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.wrapper
{
    width: 100%;
    background-color: rgb(51, 51, 51);
}

header
{
    width: 1540px;
    height: 50px;
    margin: 0 auto;
}

header .index_title
{
    float: left;
    line-height: 50px;
    color: rgb(176, 176, 176);
}

header .login
{
    float: right;
}

header .login a
{
    line-height: 50px;
    color: rgb(176, 176, 176);
}

header .login a:hover
{
    color: white;
}

main .logo_bar
{
    margin: 0 auto;
    width: 1540px;
    height: 125px;
}

        /* 设置图片格式 */
main .logo_bar .logo
{
    float: left;
    height: 80px;
    margin: 22px 0 22px 0;
}

/* content格式 */
.content
{
    width: 100%;
}

.title_image
{
    width: 1540px;
    margin: 0 auto;
}

.title_image img
{
    margin: 0 150px 0 150px;
}

.background_gray
{
    margin-top: 30px;
    padding-bottom: 200px;
    background-color: rgb(245, 245, 245);
    width: 100%;
}

.width_restrict
{
    width: 1540px;
    margin: 0 auto;
    padding-top: 30px;
}

.most_popular
{
    margin-top: 30px;
}

.most_popular h2
{
    font-family: "微软雅黑";
    font-size: 26px;
    font-weight: normal;
}

.most_popular ul
{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1540px;
}

.most_popular ul::after
{
    content: "";
    display: block;
    clear: both;
}

.most_popular ul li
{
    background-color: white;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 350px;
}

.most_popular ul li:first-child
{
    margin-left: 36px;
}

.most_popular ul li a
{
    display: block;
    width: 100%;
    height: 100%;
}

.most_popular ul li:hover
{
    box-shadow: 0 5px 10px rgba(0, 0, 0 ,.5);
}

.most_popular ul li a img
{
    width: 320px;
    height: 190px;
    margin: 0 15px;
    margin-bottom: 10px;
}

.most_popular ul li a span
{
    font-size: 20px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 75px;
    color: black;
}

.curriculum h2
{
    font-family: "微软雅黑";
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
}


.best_selected h3
{
    font-size: 24px;
    font-weight: normal;
    font-family: "微软雅黑";
}



.best_selected ul li
{
    float: left;
}

.best_selected ul li a
{
    display: block;
}

.best_selected ul li a img
{
    width: 360px;
    height: 220px;
}

.purchase
{
    background-color: white;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 320px;
    height: 180px;
}

.purchase:first-child
{
    margin-left: 36px;
}

.purchase ul li:first-child
{
    font-size: 20px;
    margin-bottom: 10px;
}

.purchase ul li
{
    padding-left: 20px;
}

.purchase ul li a
{
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.purchase ul li a:hover
{
    color: red;
}

.help div::after
{
    content: "";
    display: block;
    clear: both;
}

.location
{
    float: left;
    width: 320px;
    height: 212px;
    margin-top: 100px;
    background-color: white;
    margin-left: 20px;
}

.location h3
{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 16px;
    font-weight: normal;
    font-family: "微软雅黑";
    margin-bottom: 10px;
}

.location div
{
    padding-left: 20px;
    padding-right: 20px
}

.location div a
{
    line-height: 28px;
}

.location div a
{
    color: black;
}

.location div a:hover
{
    color: red;
}

/* footer页脚 */
footer
{
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.footer_wrapper
{
    width: 1540px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(51, 51, 51);
}

.footer_title
{
    float: left;
    line-height: 60px;
    color: rgb(176, 176, 176);
}

.copyright
{
    float: right;
    color: rgb(176, 176, 176);
    margin: 0 auto;
    line-height: 60px;
}